* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 970px;
    border-bottom: 30px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF)
}
.cano{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: animacao-cano 1.5s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.pulo{
    animation: pulo 500ms ease-out;
}

.nuvem{
    width: 430px;
    position: absolute;
    animation: anima-nuvem 21s infinite linear;
}

@keyframes animacao-cano {
    from{
        right: -70px;
    }
    to{
        right: 100%;
    }
}

@keyframes pulo {
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes anima-nuvem{
    from{
        right: -550px;
    }
    to{
        right: 100%;
    }
}